* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FF90E9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23FB69FF' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23FF90E9' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23f088dc' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23e180d0' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23d379c3' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23c571b7' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23b769aa' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23a9629e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%239b5a92' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%238e5386' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23814c7a' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%2374456f' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23683e63' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%235c3758' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2350304d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23442942' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23392337' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e1c2d' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23241623' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  flex-wrap: wrap;
  background-size: cover;
  color:aliceblue;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card {
display: flex;
color: #ec04d9;
flex-direction: column;
justify-content: flex-start;
align-items: center;
width: 420px;
height: 610px;
margin: 10px;
background-color: #ffffff;
border-radius: 10px;
border: 3px solid #ec04d9; 
position: relative;
box-shadow: 10px 10px 10px  #ec04d9;
font-family: "Lucida Console", "Courier New", "monospace";
font-size: 20px;
}

.image_chocolatee{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
width: 400px;
height: 400px;
background-color: #f0e9f0;
border: 3px solid  #ec04d9;
margin: 12px;
}

.card h5{
position: absolute;
right: 10px;
}

.product-price{
word-spacing: 50px;
margin: 10px;
}
.product-category{
word-spacing: 50px;
margin: 10px;
}

.company{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}

.form_group{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
margin: 0 auto;
background-color: #ec04d9;
border: 3px solid  #ec04d9;
width: 200px;
height: 165px;

}

.navbar{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
font-size: 50px;
color: #fff;
}

.login-title{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
font-size: 50px;
}

.btn_login{
margin: 5px;
background-color: #0056b3;
display: block;
width: 100%;
padding: 10px;
font-size: 16px;
font-weight: bold;
color: #fff;
background-color: #007bff;
border: none;
border-radius: 5px;
cursor: pointer;
}

.Whats{
  color: #ffffff;
  background-color: #30f709;
  border: 1px solid rgb(0, 233, 31);
  border-radius: 15px;
  width: 100px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-link{
color: #be0361;
}

.del{
width: 120px;
border-color: #ff00d4;
border-radius: 120px;
color: #ff05f2;
background-color: #ffffff;
}