<!DOCTYPE html>
<html lang="en">
<head>
    <link rel=" stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <nav class="navbar">
    <h1>Admin - MilkyCompany</h1>

    <h2>Product List</h2>
  </nav>
    <ul class="product-list">
      {% for product in products %}
      <div class="card">
          <a href="http://127.0.0.1:5000/admin/add_product" class="add-produkt">Edit</a>
          <h5>{{ products.id }}</h5>
          <img class="image_chocolatee" src="{{ products.image_url }}" alt="{{ products.name }}" class="product-image">
          <h3 class="product-name">{{ products.name }}</h3>
          <p class="product-description">Description:{{ products.description }}</p>
          <p class="product-price"> {{ products.price }}</p><p>Quantity: {{ products.wholesale_price }}</p>
          <a href="https://wa.me/+77773711620" class="Whats">WhatsApp</a>
          <p class="product-category"> {{ products.category }}</p><p>date: {{ products.date }}</p>
          <a href="{{ url_for('edit_product', product_id=product.id) }}" class="edit-link">Edit</a>
      </div>

    {% endfor %}



</body>
</html>

</html>