<!DOCTYPE html>
<html lang="en">
<head>
    <link rel=" stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MilkyCompany Admin</title>
</head>
<body>
  <nav class="navbar">
    <h1>Admin - MilkyCompany</h1>

    <h2>Product List</h2>
  </nav>
  <a href="http://127.0.0.1:5000/admin/add_product" class="add_button">Добавь продукт</a>
    <ul class="product-list">
    <div class="cards">
      {% for product in product %}
      <div class="admin_card">
          <h5>{{ product.id }}</h5>
          
          <form class="delete" action="/delete_card" method="POST">
            <input class="del" type="submit" value="Удалить продукт">
            </input>
            <input type="hidden" name="id" value="{{ product.id }}" />
          </form>
          <img class="image_chocolatee" src="{{ product.image_url }}" alt="{{ product.name }}" class="product-image">
          <h3 class="product-name">{{ product.name }}</h3>
          <p class="product-description">{{ product.description }}</p>
          <p class="product-price"> {{ product.price }} {{ product.wholesale_price }}</p>
          <a href="https://wa.me/+77773711620" class="Whats">WhatsApp</a>
          <p class="product-category"> Категория:{{ product.category }} {{ product.date }}</p>
          <a href="{{ url_for('edit_product', product_id=product.id) }}" class="edit_link">Edit</a>
      </div>
      {% endfor %}
    </div>



</body>
</html>

</html>