<!DOCTYPE html>
<html lang="en">
<head>
    <link rel=" stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <h1>MilkyCompany</h1>
      </nav>
    <div class="cards">
        {% for item in data %}
        <div class="product-card">
            <img src="{{ product.image_url }}" alt="{{ product.name }}" class="product-image">
            <h3 class="product-name">{{ product.name }}</h3>
            <p class="product-price">Price: ${{ product.price }}</p>
            <p class="product-description">{{ product.description }}</p>
            <p class="product-category">Category: {{ product.category }}</p>
            <a href="https://wa.me/+77773711620" class="Whats">WhatsApp</a>
            <p class="product-quantity">Quantity: {{ product.quantity }}</p>

          </div>

          

       
        {% endfor %}
    </body>
</body>
</html>